<h1>Accounts#new</h1>
<p>Find me in app/views/accounts/new.html.erb</p>

<%= semantic_form_for @account do |form| %>
  <%= form.semantic_fields_for :users, {:display_type => "table", row_removable: true, row_addable: true} do |user_builder| %>
    <%= user_builder.input :name %>
    <%= user_builder.input :birthday %>
    <%= user_builder.input :gender, as: :select, collection: ["Male", "Female"] %>
  <% end %>
<% end %>